<div class="row client_box">
    <div class="col-lg-3 align-self-center text-lg-start text-center mb-60 mb-lg-0">
        <p>{{ 'home.partners.surtitle' | trans | capitalize }}</p>
        <h3>{{ 'home.partners.title' | trans | capitalize }}</h3>
    </div>
    <div class="col-lg-9">
        <div class="client_slider swiper-container">
            <div class="swiper-wrapper">
                {% for i in 1..7 %}
                    <div class="swiper-slide align-self-center"><img src="{{ asset('images/partners/' ~ i ~'.png') }}" alt="client"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>